:root {
	--pr-color: #fff;
	--second-color: black;
	--cubicbz: cubic-bezier(.9, 0, .1, 1);
	--fz-big: 60px;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    margin: 0;
    padding: 0;
    font-feature-settings: 'pnum'on, 'lnum' on;

}

body {
    background: var(--second-color);
}

/******************/
section {
    padding-top: 150px;
    padding-bottom: 50px;
}

.wrapper {
    width: 100%;
    height: auto;
    overflow: hidden;
    z-index: 1;
    
} 

.content {
    width: 100%;
    padding: 0 70px;
}

.char {
    display: inline-block;

}

.header {
    position: relative;
    display: flex;
    padding: 0 70px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}

.header__marq {
    position: absolute;
    bottom: 0;
    left: 0;
}

.header__marq {
    width: 100%;
    height: auto;
    background: transparent;
    overflow: hidden;
}

.header_marq-wrapper {
    display: flex;
    width: 100%;
    height: auto;
    padding: 10px 70px;
}

.header_marq-txt {
    position: relative;
    flex: 0 0 auto;
    display: inline-flex;
    padding-right: 55px;
    margin-right: 15px;
    text-transform: uppercase;
    color: var(--pr-color);
    color: #fff;
    font-size: 25px;
}

.header_marq-star {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
}

.header_marq-star img {
    display: block;
    width: 100%;
    height: 100%;
}

.title {
    position: relative;
    margin: 0;
    font-size: 85px;
    text-align: center;
    color: var(--pr-color);
    text-transform: uppercase;
    mix-blend-mode: difference;
    z-index: 2;
}

.title_paralax {
    display: inline-block;
    will-change: transform;
}


.title .stroke {
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: 2px #3586ff;

}

.header_img {
    position: absolute;
    width: 900;
    height: 100vh;
    object-fit: cover;

}


/* Scroll Icon */
.container {
	width: 100%;
	height: 100%;
	background:transparent;
	display: flex;
	align-items: center;
	justify-content: center;
}

.field {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 300px;
}

@keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}

@-webkit-keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}

.scroll {
	width: 60px;
	height: 60px;
	border: 2px solid #333;
	border-radius: 50%;
	position: relative;
	animation: down 1.5s infinite;
	-webkit-animation: down 1.5s infinite;
	&::before {
		content: '';
		position: absolute;
		top: 15px;
		left: 18px;
		width: 18px;
		height: 18px;
		border-left: 2px solid #333;
  	border-bottom: 2px solid #333;
		transform: rotate(-45deg);
	}
}

@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

@-webkit-keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}



@keyframes scroll {
	0% {
		height: 40px;
	}
	30% {
		height: 70px;
	}
	60% {
		height: 40px;
	}
}

@-webkit-keyframes scroll {
	0% {
		height: 40px;
	}
	30% {
		height: 70px;
	}
	60% {
		height: 40px;
	}
}



/* Banner */


.section-title {
    position: relative;
    margin: 0;
    margin-bottom: 60px;
    line-height: .8;
    font-size: 70px;
    text-align: center;
    color:var(--pr-color);
    text-transform: uppercase;

}


.section-title .stroke {
    color: transparent;
    -webkit-text-stroke: 2px #fff;
}

.section-title__square {
    position: absolute;
    display: inline-block;
    width: 130px;
    height: 130px;
    border: 2px solid #3586ff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}


/* about */

.about .section-title {
    text-align: left;

}

.about__wrapper {
    display: flex;
    justify-content: space-between;
}


.about__img {
    width: 150%;
    height: 50%;
    padding-right: 20px;
}

.about__txt {
    width: calc(50% -35px);
    height: auto;
}

.about__txt {
    padding-right: 70px;
}


.about__p {
    line-height: 1.4;
    font-size: 20px;
    color: #fff;
}

.about__img {
    height: 120vh;
    overflow: hidden;
}


.about__img img {
    display: block;
    width: 90%;
    height: 90%;
    right: 0;
    padding: 40px;
    object-fit: cover;
}


/* benefits */
.benefits__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 40px;
	width: 100%;
	height: auto;
}

.benefits__item {
	list-style: none;
	width: calc(33.33% - 27px);
}

.benefits__num {
	display: inline-block;
	font-size: 60px;
	color: transparent;
	-webkit-text-stroke: 1px #3586ff;
}

.benefits__p {
	font-size: 20px;
	color: #4b4b4b;
}

/* work */
.work {
    padding-top: 150px;
}


.work__wrapper {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows:min-content;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;

}
/* .work__wrapper {
    display: flex;
    flex-wrap:wrap;
    row-gap: 120px;
    justify-content: space-between;
    padding: 0 120px;
} */

.work__item {
    position: relative;
    width: calc(50% -60px);
    height: 100vh;
    right: 20%;
}

.work__item-num {
    position: absolute;
    display: inline-block;
    font-size: 70px;
    color: var(--pr-color);
    mix-blend-mode: difference;
    z-index: 2;
}

.work__item-img {
    width: 700px;
    height: 432px;
    overflow: hidden;
}

.work__item-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.work__item-img p {
    color: #fff;
}

.work__p {
    color: #fff;
}

/* serve */

.serv__item {
    position: relative;
    padding: 40px 0;
    border-bottom: 1px solid #2f2e2e;
}


.serv__item-arrow {
    position: absolute;
    display: inline-block;
    width: 55px;
    height: 55px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.serv__item-arrow img{ 
    display:block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: rotate(180deg);
}


.serv__item-txt {
    font-size: 50px;
    color: #4b4b4b;
    text-transform: uppercase;
}


.serv__item-text {
    position: relative;
    border-bottom: 1px dotted rgb(243, 240, 240);
}


.serv__item-txt:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 300px;
    background-color: rgb(241, 236, 236);
    color: #241e1e;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;
  
    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
  }
  
  .serv__item-txt:hover:before {
    opacity: 1;
    visibility: visible;
  }
















/* footer */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.footer__div {
    color: var(--pr-color);
    font-size: 70px;
    letter-spacing: 15px;
    text-transform: uppercase;
}


.footer__div span {
	display: inline-block;
}

/* contact */

.contact {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  
  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
  }
  
  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
  
  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }
  
  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }
  
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }